.vs/
bin/
obj/
*.user
*.suo
*.psl
appsettings.Development.json
CarProject/Logs/
CarProject/CarProject/Logs/
CarProject/build/*.pfx
create_users.sql
fix_perms.sql
*.log
server_*.log
CarProject/CarProject/wwwroot/uploads/avatars/*
CarProject/Module/*.zip
run/
